<div class="w-1/2 p-4">
    <a href="tel:{{ phone }}" class="flex items-center justify-center gap-2 text-center">
       <img class="cursor-pointer" src="/{{ directory }}/dist/images/call.svg" alt="{{ 'Call icon'|t }}">{{ label }}
    </a>
</div>
