<div class="w-1/2 p-4">
    <a href="tel:{{ phone }}" class="block text-center flex align-center justify-center gap-2">
        {% set directory = 'themes/custom/server_theme' %}
       <img class="cursor-pointer" src="/{{ directory }}/dist/images/call.svg" alt="{{ 'Call icon'|t }}">{{ label }}
    </a>
</div>
